@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body { 
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("images/background.png");
}

div {
    /*border: 1px solid black;*/
    /*margin: 2px;*/
    box-sizing: border-box;
}

#headerContainer {
    text-align: center;
    margin-top: -15px;
}

#headerContainer > h1 {
    font-family: Roboto, sans-serif;
    font-size: 5em;
    text-shadow: 0 2px 2px #ffffff;
}


#showWishlist {
    width: 40%;
    margin-left: 10%;
    float: left;
    text-align: center;
/*    border-color: black;
    border-style: solid;
    border-width: 0 1px 0 0;*/
    
    
}

#logOn {
    width: 40%;
    float: left;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 0 0 0 2px;    
}

#createAccount {
    margin-top: 35%;
    width: 100%;
    text-align: center;
}

p, #showWishlistInput > input, #showWishlistSubmit > input, 
   #logOnUsernameInput > input, #logOnPasswordInput > input, #logOnSubmit > input {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
}

.textInput > input {
    width: 50%;
}

#showWishlistSubmit > input {
    width: 20%;
}

#showWishlistSubmit, #logOnSubmit {
    padding-top: 15px;
}

#wishlistTable td, #wishlistTable th {
    /*border: 1px solid black;*/
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    padding: 5px;
    padding-top: 10px;
    width: 10em;
    text-align: center;
    
}

#wishlistTable th, #editWishlistTable th {
    background-color: rgba(153, 153, 153, 0.6);
}

#wishlistTable td:hover {
    background-color: rgba(153, 153, 153, 0.6);
}

#wishlistTableContainer{
    /*border: 1px solid black;*/
    margin-left: 32%;
    margin-top: 2%;
}

#editWishlistTableContainer {
    margin-left: 12%;
    margin-top: 2%;
}

#wishlistTitleContainer {
    background-color: #333333;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin: 2px
}

#wishlistTitleContainer > p {
    padding-left: 5%;
    color: #ffffff;
}

#editWishlistTableContainer, #editWishlistTable, #userOptions {
/*    border: 1px solid black;
    margin: 2px;*/
}

#editWishlistTable td, #editWishlistTable th {
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    padding: 5px;
    padding-top: 10px;
    width: 10em;
    text-align: center;
}

.editWishSubmit > input, .deleteWishSubmit > input {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    width: 50%;
}

#addWishSubmit, #deleteAccountSubmit, #logOutSubmit, #saveWishSubmit, #backSubmit, #editWishLogOutSubmit, #registerSubmit {
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}

#addWishSubmit > input, #deleteAccountSubmit > input, #logOutSubmit > input {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    width: 150px;
}

#userOptions {
    height: 50px;
    background: #333333;
    margin: 2px;
    margin-top: 50px;
}

#saveWishSubmit > input, #backSubmit > input, #editWishLogOutSubmit > input, #registerSubmit > input {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    width: 150px;
}

#editWishMainBody > textarea {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    width: 30%;
    height: 100px;
}

#editWishMainBody {
    margin-left: 35%
}

#mainRegisterForm {
    margin-left: 20%;
}

#mainRegisterForm > form > p > input {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

#mainRegisterForm > form > p > #username {
    margin-left: 150px;
}

#mainRegisterForm > form > p > #password {
    margin-left: 160px;
}

#mainRegisterForm > form > p > #confirmPassword {
    margin-left: 68px;
}